.contact-container {
  text-align: center;
  padding: 32px;
  background-color: #f8f8f8;
}
.contact-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;       
}
.contact-info {
  text-align: left;
  max-width: 300px;
}
.contact-form {
  max-width: 400px;
  width: 100%;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-form button {
  background-color: #f0a500;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.contact-form button:hover {
  background-color: #e08e00;
}
